/*  -----------------------------------------        */
/*  Übergreifend / Body                              */
/*  -----------------------------------------        */
html, body {
 background-image:url(https://richtiggutbewerben.de/Bewerbungstipps/Bewerbungsblog/wp-content/uploads/2018/10/beverage-3157395_960_720.jpg); 
 background-repeat:no-repeat; 
 background-size: cover;      
 overflow:hidden;             
}

#kopfbereich {

  position:fixed;           
  top:0;                     
  left:0;                   
  border: 1px solid #ccc;    
  background-color:rgb(219, 190, 152);    
  width:100%;                
  height:100px;              
  z-index:2;                
}

#navibereich {
  position:fixed;            
  top: 100px;                
  left:0;                    
  border: 1px solid #ccc;    
  background-color:rgba(179, 153, 106, 0.89);     
  width:200px;               
  min-height:300px;          
  z-index:2;                 
}

#textbereich {

  position:fixed;            
  left:0;                    
  right:0;                   
  top:100px;                 
  padding-left:210px;        
  padding-right:210px;       
  padding-top:20px;          
  padding-bottom:60px;       
  border: 1px solid #bba852;    
  height:100%;               
  overflow-y: auto;          
  background-color:rgba(240, 237, 228,0.4); 
}

#newsbereich {
  position:fixed;            
  right:0px;                 
  top: 100px;                
  border: 1px solid #ccc;    
  background-color:rgb(175, 163, 111);   
  width:200px;               
  min-height:300px;          
  z-index:2;                 
}

#fussbereich {

 position:fixed;             
 bottom:0;                    
 left:0;                      
 border: 1px solid #ccc;      
 width: 100%;                 
 background-color: rgb(175, 163, 111);     
 height:50px;                 
 z-index:2;                    
} 

/*  Höhe des Contentbereichs festlegen */                    
.content-block {
  padding-bottom: 1000px;
}

/*  ----------------------------------------- */
/*  Schriftformatierung                       */
/*  ----------------------------------------- */

p {
font-family: Garamond, Verdana, Geneva, 'Times New Roman', Times, serif, Avantgarde, Arial; 
font-style:normal;                                                 
font-size:11pt;                                                    
font-weight:normal;                                                
color:#a16e3f;                                                     
}
.title {
font-size:12pt;                                                    
font-weight:bold;                                                 
}
#newsbereich {
  position:fixed;            
  right:0px;                 
  top: 100px;                
  border: 1px solid #ccc;    
  background-color:rgb(175, 163, 111);   
  width:200px;               
  min-height:300px;          
  z-index:2;                 
}

#fussbereich {

 position:fixed;              
 bottom:0;                    
 left:0;                      
 border: 1px solid #ccc;      
 width: 100%;                 
 background-color: rgb(219, 190, 152);      
 height:50px;                 
 z-index:2;                    
} 

/*  Höhe des Contentbereichs festlegen */                    
.content-block {
  padding-bottom: 1000px;
}

/*  ----------------------------------------- */
/*  Schriftformatierung                       */
/*  ----------------------------------------- */

p {
font-family: Garamond, Verdana, Geneva, Lucida, Avantgarde, Arial; 
font-style:normal;                                                 
font-size:11pt;                                                    
font-weight:normal;                                                
color:#000000;                                                     
}
.title {
font-size:12pt;                                                    
font-weight:bold;                                                  
}
#logobereich {
  position:fixed;               
  top:0;                            
  left:0;                            
  border: 0px solid #ccc; 
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkG_-QwvBOMfQz_nCKxcruJm4-C26Z1ZRGMQ&s");
  background-repeat:no-repeat; 
  background-size: cover;    
  background-color:rgba(16,78,139,0);    
  width:200px;                 
  height:100px;                 
  z-index:3;                                      
}

/*  ----------------------------------------------------------- */
/*  Bildformatierung für Bilder im Textbereich      */
/*  ----------------------------------------------------------- */
.text-image-left {
width:200px;  
margin:0px;   
float:left;      
}
.text-image-right {
width:200px; 
margin:0px;  
float:right;     
}




